{% extends "base.html" %} {% load bootstrap5%} {% block content %}
<div class="container">
    <div class="card border-0 my-5">
        <div class="card-body p-5" style="background: url('static/image/bg.jpg'); height:100%;">
            <!-- <h1 class="fw-light text-center"></h1> -->
            <p class="text-center">Welcome to our site where we Rate projects.</p>
            <div class="lead mb-0">
                <input type="submit" class="btn btn-outline-info btn-lg" value="view site" />
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for project in projects %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h1 class="pro-tle text-center">{{project.title}} </h1>
                </div>
                <div class="card-body">
                    <a href="/singleproject/{{project.id}}">
                        <img class="card-img-top img-fluid" style="width:600px;" src=" {{project.image.url}}" alt="{{post.title}}">
                    </a>
                    <p class="text-muted">{{project.description}}</p>
                    <a style="text-align: center;" href=" {{project.link}} "> {{project.link}} </a>
                </div>
                <div class="card-footer" style="display: inline-flex;">
                    <!-- <div class="ft-info"> -->
                    <!-- <a style="text-align: center;" href=" {{project.link}} "> {{project.link}} </a> -->
                    <p class="pst-by">PostBy:{{project.user}} </p>
                    <a style="text-align: center;" href="{%url 'comment' project.id%}" class="btn btn-outline-primary">Review</a>
                    <a style="text-align: center;" href="{%url 'rates' project.id%}" class="btn btn-outline-info">Rate</a>
                    <!-- </div> -->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}