{% extends 'base.html' %} {% load bootstrap5 %} {% block content %}
<div style=padding-top:120px;></div>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <h2 style="text-align:center"><u>  {{user.username}}'s Profile </u> </h2>
                {% if user.Profile.profile_pic %}
                <img src=" {{user.Profile.profile_pic}} " alt="Profile picture"> {% else %}
                <img src="https://c4.wallpaperflare.com/wallpaper/736/96/920/beautiful-unicorn-in-forest-fantasy-computer-desktop-wallpapers-hd-2560%C3%971600-wallpaper-preview.jpg" style="border-radius: 50%; margin-left: 30%;" class="img-fluid" width="250px" height="250px"
                    alt="dp"> {% endif %}
                <div class="card-body">
                    <h4 class="card-title">
                        <h3 style="text-align: center;">Username: {{user.username}} </h3>
                    </h4>
                    <p class="card-text">{% if user.profile.bio %}
                        <h5 style="text-align: center;"><b>Bio:</b> {{user.profile.bio}}</h5>
                        {% else %}
                        <p style="text-align: center;">You have no bio yet</p>

                        {% endif %}</p>
                    <a href="/editprofile" class="btn btn-primary" style="margin-left: 40%;">Update Profile</a>

                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    </div>

{% endblock %}